.App {
}
.navbar{
    background-color: #f9e10a;
}

.card-text {
    height: 150px;
}

.none {
    display: none;
}

.btn-logout {
    color: #e0a800;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    float: right;
}