.App {
}
.navbar{
    background-color: #f9e10a;
}

/*.card-text {*/
/*    height: 150px;*/
/*}*/

.none {
    display: none;
}

.btn-logout {
    color: #e0a800;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    float: right;
}

.pagination-previous {
    float: left;
}

.pagination-next {
    float: right;
}

.hide-body {
    display:none;
    margin:5px 0px;
    padding:10px;
    width:98%;
    border:1px solid #adb5bd;
}
/* кликабельный текст */
.preview-body {
    color:#e0a800;
    cursor: default;
}
.preview-body:hover{
    border-bottom:1px dashed darkred;
    color:darkred;
}